<h1> Create New </h1>
<%= form_for @comment do |f| %>
<div>
  <h3><%= f.select 'city_id',
  options_for_select(@cities.collect{|c| [ c.name, c.id] }) %>    </h3>
</div>
<div>
  <h3><%= f.text_field :title, placeholder: "Title", class: "form-field"%> </h3> 
</div>
<div>
  <h3><%= f.text_area :text, placeholder: "Text", class: "form-field" %> </h3>
</div>
<div>
  <h3><%= f.hidden_field :user_id, value: current_user.id %> </h3>
  <%= f.submit "Submit", :class => "btn btn-primary add" %>
</div>
<% end %>
