<h1> comment#new </h1>

<%= form_for @comment do |f| %>
 <div>
   <%= f.text_field :title, placeholder: "Title" %>
 </div>
 <div>
   <%= f.text_area :text, placeholder: "Text" %>
 </div>
 <div>
 <%= f.hidden_field :user_id %>
       <%= hidden_field_tag 'integer', current_user.id  %>
 </div>
 <div>
<%= f.hidden_field :city_id %>
       <%= hidden_field_tag 'integer', current_user.id  %>
</div>
 <div>
   <%= f.number_field :floor_area, placeholder: "Floor Area" %>
 </div>
 <%= f.submit %>
 <% end %>
