<h1> comment#new </h1>

<%= form_for @comment do |f| %>

 <div>
<%= f.select 'city_id',
options_for_select(@cities.collect{|c| [ c.name, c.id] }) %>       
 </div>
 <div>
   <%= f.text_field :title, placeholder: "Title" %>
 </div>
 <div>
   <%= f.text_area :text, placeholder: "Text" %>
 </div>
 <div>
 <%= f.hidden_field :user_id, value: current_user.id %>
      
 </div>

 <%= f.submit %>
 <% end %>
 
