<h1> Sign Up </h1>
<%= form_for @user do |user| %>
  <div>
    <h3><%= user.text_field :first, placeholder: "First Name" %></h3>
  </div>
  <div>
    <h3><%= user.text_field :last, placeholder: "Last Name" %></h3>
  </div>
  <div>
    <h3><%= user.text_field :email, placeholder: "Email" %></h3>
  </div>
  <div>
  <h3><%= user.text_field :username, placeholder: "Desired Username" %></h3>
  </div>
  <div>
    <h3><%= user.password_field :password, placeholder: "Password" %>
  </div>
  <div>
    <h3><%= user.text_field :curr_city, placeholder: "Current City" %></h3>
  </div>
  <%= user.submit "Sign Up", :class => "btn btn-primary signup" %>
<% end %>
