<h1> Sign Up </h1>
<%= form_for @user do |user| %>
  <div>
    <h3><%= user.text_field :first, placeholder: "First Name", class: "form-field"%></h3>
  </div>
  <div>
    <h3><%= user.text_field :last, placeholder: "Last Name",  class: "form-field"%></h3>
  </div>
  <div>
    <h3><%= user.text_field :email, placeholder: "Email", class: "form-field" %></h3>
  </div>
  <div>
  <h3><%= user.text_field :username, placeholder: "Desired Username", class: "form-field" %></h3>
  </div>
  <div>
    <h3><%= user.password_field :password, placeholder: "Password", class: "form-field" %>
  </div>
  <div>
    <h3><%= user.text_field :curr_city, placeholder: "Current City", class: "form-field"%></h3>
  </div>
  <%= user.submit "Sign Up", :class => "btn btn-primary signup" %>
<% end %>
