<div id="welcome">
<h2>Welcome, <%= @user.first %>.</h2>
</div>
<div class="col-md-3 col-xs-12">
  <img src="images/800x800.png" alt="profile-pic">
  <h2><b><%= @user.first %></b> <%= @user.last %></h2>
  <p><b>Member since:</b>  <%=@user.created_at.strftime("%m/%d/%Y") %></p>
  <p><b>Current City:</b> <%= @user.curr_city %>
  </div>

  <div class="col-md-7 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class='row'>
          <div class="col-md-9 col-xs-12">
            <h2> Lorem Ipsum </h2>
            <h3>City, Country</h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-7 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class='row'>
          <div class="col-md-9 col-xs-12">
            <h2> Lorem Ipsum </h2>
            <h3>City, Country</h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-7 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class='row'>
          <div class="col-md-9 col-xs-12">
            <h2> Lorem Ipsum </h2>
            <h3>City, Country</h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
          </div>
        </div>
      </div>
    </div>
  </div>
