<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <title></title>
</head>
<body>

  <div class="container-fluid img-wrapper">
    <p class="vagabond"> Vagabond </p>
  </div>
  <div class="nav">
    <% if current_user %>
      <%= link_to 'profile', user_path(current_user), class: 'splash-a'%>
      <%= link_to 'logout', logout_path, class: 'splash-a'%>
    <% else %>
    <%= link_to 'login', login_path, class: 'splash-a' %>
    <%= link_to 'signup', new_user_path, class: 'splash-a'%>
    <% end %>
  </div>

  <% flash.each do |i, m| %>
  <h2><%= m %></h2>
  <% end %>

  <div class="made-for">
    <p> Made lovingly for Client Melissa </p>
  </div>
</body>
</html>
</div>
