<div class="image">
  <img src=" <%=@city.city_image %>">
  <h1 class="city-name"> <%= @city.name %> </h1>
</div>
  <%= button_to "New Post", new_comment_path, method: :get %>
<br>
<% @city.comments.each do |comment| %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3> <%= link_to comment.title, comment_path(comment.id) %>  </h3>
        <h5> <%= comment.user.first %> </h5>
        <hr></hr>
        <p>
          <%= comment.text %>
        </p>
      </div>
    </div>
  </div>
</div>
<% end %>
