<!DOCTYPE html>
<html>
<head>
  <title>TheOnlyVagabond</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <% flash.each do |message| %>
    <h4>Excuse me sir/ma'am/fighter jet! <%= message %></h4>
  <% end %>

  <%=  yield(:splash) if content_for?(:splash) %>

  <%= render "nav_bar" %>

  <%= yield %>

</body>
</html>
